<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376063248531-6humtnlsjp7cnbhauvc8jk6bunipkm9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376063248531-6humtnlsjp7cnbhauvc8jk6bunipkm9k</string>
	<key>API_KEY</key>
	<string>AIzaSyAJnHd1is6IuJKS8cp7rD1nvoNTETLVwwA</string>
	<key>GCM_SENDER_ID</key>
	<string>376063248531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ljaniszewski.SwiftfulShopping</string>
	<key>PROJECT_ID</key>
	<string>swiftfulshopping-bcbb5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulshopping-bcbb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376063248531:ios:4f4232fea8aa5af1736566</string>
</dict>
</plist>